<div class="lucidGlobalToolbar">
    <h1>Lucid</h1>
    <ul class="lucidGlobalToolbarMenu">
        <li>
            <a href="." target="_blank">
                Applications
            </a>
        </li>
        <!--<li>
            <a href="javascript://" dojoAttachPoint="contactsButtonNode">
                Contacts
			    <span class="dijitReset dijitInline dijitArrowButtonInner"></span>
			    <span class="dijitReset dijitInline dijitArrowButtonChar">&#9660;</span>
            </a>
        </li>-->
        <li>
            <a data-dojo-type="lucid.widget.core.GlobalToolbarDropDownButton" label="Cont">
                <span>Contacts</span>
                <div data-dojo-type="lucid.widget.core.ContactsDropDown"></div>
            </a>
        </li>
        <li>
            <a href="javascript://" dojoAttachPoint="eventsButtonNode">
                Events
			    <span class="dijitReset dijitInline dijitArrowButtonInner"></span>
			    <span class="dijitReset dijitInline dijitArrowButtonChar">&#9660;</span>
            </a>
        </li>
        <li>
            <a href="javascript://" dojoAttachPoint="userButtonNode">
                Username
			    <span class="dijitReset dijitInline dijitArrowButtonInner"></span>
			    <span class="dijitReset dijitInline dijitArrowButtonChar">&#9660;</span>
                <div dojoAttachPoint="userIconNode" class="lucidGlobalToolbarUserIcon"></div>
            </a>
        </li>
    </ul>
    <div class="lucidGlobalToolbarSearchbox">
        <input type="text" value="Search" />
    </div>
</div>
