<div class="lucidWidgetHeader">
    <div class="lucidWidgetHeaderLogo">
        Lucid
    </div>
    <div class="lucidWidgetHeaderUserinfo">
        <div>
            <span dojoAttachPoint="userNode">Username</span> - <a href="#">Logout</a>
        </div>
        <div style="display: none;">
            <a href="#">Login</a>
        </div>
    </div>
    <div class="lucidWidgetHeaderButtons">
        <button dojoType="dijit.form.DropDownButton">
            <span>Applications</span>
            <div dojoType="dijit.Menu">
                <div dojoType="dijit.MenuItem">App 1</div>
                <div dojoType="dijit.MenuItem">App 2</div>
                <div dojoType="dijit.MenuItem">App 3</div>
                <div dojoType="dijit.MenuItem">App 4</div>
            </div>
        </button>
        <button dojoType="dijit.form.DropDownButton">
            <span>Notifications</span>
            <div dojoType="dijit.TooltipDialog">
                <ul>
                    <li>Event 1</li>
                    <li>Event 2</li>
                    <li>Event 3</li>
                    <li>Event 4</li>
                </ul>
            </div>
        </button>
    </div>
</div>
