<div class="lucidGlobalToolbar">
    <h1>Lucid</h1>
    <ul class="lucidGlobalToolbarMenu">
        <li>
            <a href="." target="_blank">
                Applications
            </a>
        </li>
        <li>
            <a data-dojo-type="lucid.widget.core.GlobalToolbarDropDownButton">
                <span>Contacts</span>
                <div data-dojo-type="lucid.widget.core.ContactsDropDown"></div>
            </a>
        </li>
        <li>
            <a data-dojo-type="lucid.widget.core.GlobalToolbarDropDownButton">
                <span>Events</span>
                <div data-dojo-type="lucid.widget.core.EventsDropDown"></div>
            </a>
        </li>
        <li>
            <a data-dojo-type="lucid.widget.core.GlobalToolbarDropDownButton">
                <span>Username</span>
                <div data-dojo-type="lucid.widget.core.UserDropDown"></div>
            </a>
        </li>
    </ul>
    <div class="lucidGlobalToolbarSearchbox">
        <input type="text" value="Search" />
    </div>
</div>
